@font-face {
  font-family: 'Noto Sans Arabic';
  src: url("../fonts/NotoSansArabic-Regular.ttf") format("truetype");
       font-weight: 400;
       font-display: swap; 
}

@font-face {
  font-family: 'Noto Sans Arabic';
  src: url("../fonts/NotoSansArabicUI-Medium.ttf") format("truetype");
       font-weight: 500;
       font-display: swap; 
}



@font-face {
  font-family: 'Noto Sans Arabic';
  src: url("../fonts/NotoSansArabicUI-Bold.ttf") format("truetype");
       font-weight: 700;
       font-display: swap; 
}