@import "vars";
@import "global";
@import "fonts";

// start header

html {
    box-sizing: border-box;
    margin: 0;
 }
 
 *,
 *::before,
 *::after {
    box-sizing: inherit;
 }
 
 html,
 body {
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    overflow-x: hidden;
 }
 
 
 a {
   display: inline-block;
   text-decoration: none;
   color: $text;
   font-size: inherit;
 }
 
 ul, li {
     margin: 0;
     padding: 0;
     list-style: none;
 }
 
 body {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 15;
    line-height: 24px;
    color: $text;
 }
 
 .wrapper {
     display: flex;
     flex-direction: column;
     min-height: 100%;
 }
 .content {
     flex: 1 0 auto;
 }
 .footer {
     flex: 0 0 auto;
 }
 
 .container {
    max-width: 1920px;
    margin: 0 auto;
    padding:  0 15px;
 }
 
.header__bg {
    min-height: 666px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.header__logo {
   display: flex;
   justify-content: center;
  img {
    margin-top: 64px;
    margin-bottom: 72px;
  }
    
}

.form__login, .form__phone {
    input {
        height: 64px;
        border: 2px solid #366799;
        background-color: #09223F;
        color: #fff;
        font-size: 20px;
        display: block;      
        text-align: right;
        padding-right: 24px;
        padding-left: 24px;
        box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.15), 0px 15px 12px rgba(0, 0, 0, 0.11);
        border-radius: 8px;
            &::placeholder {
            color: #fff;
            font-size: 20px;
        }
    }
}

.form__login {
    input {
        width: 384px;
        margin-bottom: 21px;
        font-family: 'Noto Sans Arabic';
        font-weight: 400;
    }  
}

.form__phone  {
    input {
        width: 219px;
        text-align: center;
        display: inline-block;
        margin-bottom: 17px;
    }
    
}

.form__phone-code {   
    border: 2px solid #366799;
    background-color: #09223F;
    color: #fff;
    font-size: 20px;
    display: block;
    width: 157px;
    text-align: right;
    padding-right: 24px;
    padding-left: 24px;
    box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.15), 0px 15px 12px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
    height: 64px;
    display: inline-block;
}
.form__title {  
    font-family: 'Noto Sans Arabic';
    font-weight: 400;
    font-size: 20px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.444444px;
    color: #FFFFFF;      
    }

    .form__phone-btn {
        background: linear-gradient(89.2deg, #FFDC25 0.14%, rgba(255, 138, 0, 0.73) 99.29%), #FFD90F;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        border: none;
        width: 400px;
        height: 80px;
        padding-left: 80px;
        padding-right: 80px;
        color: #fff;
        font-size: 36px;
        font-family: 'Noto Sans Arabic';
        font-weight: 700;
        line-height: 76px;
        text-align: center;
        letter-spacing: 1.35px;
        text-transform: uppercase;
        display: block;
        
    }


    .form__text-checkbox {
        font-family: 'Noto Sans Arabic';
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        letter-spacing: 0.4px;            
        color: #FFFFFF;
        margin-bottom: 48px;
    }

    .form {
        width: 400px;
        margin: 0 auto;

      

    }


    // end header

    // start awards
    
 .awards {
    min-height: 248px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }

 .awards__box {
     min-width: 1216px;  
     display: flex;
     justify-content: space-between; 
     padding-top: 28px;
 }
 .awards__item {
     text-align: center;
     min-width: 280px;
     
 }
.awards__item-images {
    img {
        margin: 0 auto;
    }

}
 
 .awards__item-title {
    font-family: 'Noto Sans Arabic';
    font-weight:700;
    font-size: 28px;
    line-height: 59px;
    align-items: center;
    text-align: center;    
    color: #FFFFFF;
    
}

.awards__item-text {
font-family: 'Noto Sans Arabic';
font-weight: 700;
font-size: 14px;
line-height: 145%;
text-align: center;
color: #FFFFFF;

}
    
 
 // end awards
//  start registration

.registration {
    min-height: 552px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.registration__title {
font-family: Noto Sans Arabic, sans-serif;
font-weight:700;
font-size: 40px;
line-height: 84px;
text-align: center;
color: #FFFFFF;
span {
    color: #FFC800;
}

}

.registration__sum {
font-family: Sarabun;
font-weight: 800;
line-height: 182px;
color: #3E93E8;
// text-shadow: #FFF 2.8px 0px, #FFF 2.8px 2.8px, #FFF 0px 2.8px, #FFF -2.8px 2.8px, #FFF -2.8px 0px, #FFF -2.8px -2.8px, #FFF 0px -2.8px, #FFF 2.8px -2.8px;
background-clip: text;
    -webkit-text-fill-color: transparent;
  background-image: url(../images/pattern.svg);
  background-position: center;
  background-size: cover;
  &__text {
      text-align: center;
      font-size: 140px;
  }

}



 

 //  end registration

@import "media";